<% include ../layout/header.ejs %>
		<link rel="stylesheet" href="/BeginnerAdmin/css/table.css" />
		<div class="admin-main">
			<a href="javascript:;" onclick="location.reload()" class="layui-btn layui-btn-small">刷新</a>
			<fieldset class="layui-elem-field">
				<legend>分类列表</legend>
				<div class="layui-field-box layui-form">
					<table class="layui-table admin-table">
						<thead>
							<tr>
								<th style="width: 330px;">分类名称</th>
								<th>分类简介</th>
								<th>分类图片</th>
								<th>banner图片</th>
								<th style="width: 130px;">操作</th>
							</tr>
						</thead>
						<tbody id="content">
							<% if(result.length < 1){ %>
								<tr><th colspan="4">请先添加分类</th></tr>
							<% }else{ %>
								<% result.forEach(function(item, index){ %>
									<tr>
										<td><%= item.title %></td>
										<td><%= item.describe %></td>
										<td><img src="<%= item.ification_banner %>" style="max-height: 80px;"></td>
										<td><img src="<%= item.ification_banner_big %>" style="max-height: 80px;"></td>
										<td>
											<a href="javascript:;" data-id="<%= item._id %>" class="layui-btn layui-btn-mini edit">编辑</a>
											<a href="javascript:;" data-id="<%= item._id %>" class="layui-btn layui-btn-danger layui-btn-mini del">删除</a>
										</td>
									</tr>
								<% }) %>
							<% } %>
						</tbody>
					</table>
				</div>
			</fieldset>
		</div>
		<script type="text/javascript" src="/BeginnerAdmin/plugins/layui/layui.js"></script>
		<script>
			layui.use(['form', 'jquery', 'layer'], function() {
				var $ = layui.jquery,
					layer = layui.layer, //获取当前窗口的layer对象
					form = layui.form();
				
				$('.del').click(function(){
					var self = $(this);
					var id = $(this).attr('data-id')
					layer.alert('你确认删除？',function(index){
						$.post('/admin/article/delification', {ification_id: id}, function(res){
							layer.close(index);
							if(res.code == 200){
								self.parents('tr').remove();
								layer.msg('删除成功', function(){
									location.reload();
								});
							}else{
								layer.msg('删除失败，'+res.msg);
							}
						})
					})
				})
				
				$('.edit').click(function(){
					var self = $(this);
					var id = $(this).attr('data-id')
					layer.open({
					  	type: 2,
					  	title: '编辑分类',
					  	shadeClose: true,
					  	shade: 0.8,
					  	area: ['680px', '66%'],
					  	content: '/admin/article/editification?ification_id='+id //iframe的url
					}); 
				})
			});
			function reload(info){
				location.reload();
			}
		</script>
<% include ../layout/footer.ejs %>