<% include ../layout/header.ejs %>
        <div class="banner-nav-2017">
        	<span style="display: block;height: 396px;width: 100%;min-width: 1200px;background: url(<% for(i in ification){ %><% if(ification[i]._id == ification_curr){ %><% if(!!ification[i].ification_banner){ %><%= ification[i].ification_banner %><% }else{ %>/images/banner-2-2017.png<% } %><% } %><% } %>) no-repeat top center;"></span>
        	<% include ../layout/nav.ejs %>
        </div>
        
        <div class="in-list-0707">
        	<h2>相关分类</h2>
        	<div class="in-list-fl">
        		<ul>
        			<% ification.forEach(function(item, index){%>
        			<% if(item._id != ification_curr){ %>
        			<li>
        				<a href="/index/list/<%= type %>/<%= item._id %>">
        					<img src="<%= item.ification_banner %>">
        					<div>
        						<h3><%= item.title %></h3>
        						<p><%= item.describe %></p>
        					</div>
        				</a>
        			</li>
        			<% } %>
		            <% }) %>
        		</ul>
        	</div>
        	<a href="javascript:;" class="more">查看更多</a>
        </div>
        <div class="in-list-0707">
        	<h2 id="top-a"><% var t=1; for(i in ification){ %><% if(ification[i]._id == ification_curr){ %><%= ification[i].title %><% t=0 %><% } %><% } %><% if(t==1){ %>分类不存在，查看其他分类<% } %></h2>
        	<div class="in-list-wz">
        		<div class="left">
        			<div class="nav-top">
        				<a href="/index/list/<%= type %>/<%= ification_curr %>?label=1#top-a" <% if(label==1){ %>class="cur"<%}%>>成功案例</a>
        				<a href="/index/list/<%= type %>/<%= ification_curr %>?label=2#top-a" <% if(label==2){ %>class="cur"<%}%>>实用信息</a>
        			</div>
        			<div class="about-cen">
        				<h2>关于信嘉 ABOUT FAITH</h2>
        				<p>成立以来,发展迅速,已经跨入中型律师行列.众多律师拥有国内外著名法学院的博士或硕士学位.在为客户提供服务的过程中,注重对律师进行规范化的培训......<a href="">[详细]</a></p>
        				<img src="/images/img-bg-6.jpg">
        			</div>
        			<div class="lx-bottom">
        				<h2>联系我们 ABOUT FAITH</h2>
        				<span><img src="/images/tel-0707.png">&nbsp; 13581810909</span>
        			</div>
        		</div>
        		<div class="right">
        			<ul style="min-height: 500px;margin-bottom: 30px;">
    				<% if(article.length < 1){ %>
    					<li><h3>暂无文章</h3></li>
    				<% }else{ %>
	    				<% article.forEach(function(item, index){ %>
	    				<li>
	    					<h3><a href="/index/article/<%= item.article_id %>"><span>[<% if(item.label == 1){ %>成功案例<% }else{ %>实用信息<% } %>］</span><%= item.title %></a></h3>
	    					<p><%= item.briefing %></p>
	    				</li>
	    				<% }) %>
    				<% } %>
        			</ul>
					<div id="paged" class="page">
					</div>
        		</div>
        	</div>
        </div>
        
        
<% include ../layout/footer-right.ejs %>
<script>
	$('.more').click(function(){
		if($(this).hasClass('cur')){
			$(this).prev('div').height('277px');
			$(this).removeClass('cur');
			$(this).text('查看更多');
		}else{
			$(this).prev('div').height('auto');
			$(this).addClass('cur');
			$(this).text('点击收起');
		}
	})
					
	laypage({
	    cont: 'paged'
	    ,pages: <%= page %>
	    ,curr: <%= curr %>
	    ,first: 1
	    ,last: <%= page %>
	    ,prev: '<em><</em>'
	    ,next: '<em>></em>'
	    ,jump: function(obj, first){
	    	var curr = obj.curr;
	    	if(!first){
	    		location.href = '/index/list/<%= type %>/<%= ification_curr %>/?<% if(label){ %>label=<%= label %>&<%}%>page='+curr+'#top-a'
	    	}
	    }
	});
</script>
<% include ../layout/footer.ejs %>